/*=============== LOGO ===============*/

/*=============== IMAGEN ===============*/
.logo__footer img {
  height: 60px;
  border-radius: 50px;
  padding: 1%;
}

.logo__footer {
  display: flex;
  align-items: center;
  padding: 10px;
}

span {
  font-size: 25px;
}

span:hover {
  color: white;
}

/*=============== REDES SOCIALES ===============*/

.redes-sociales {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  margin: 0 auto;
}
.texto{
  margin: 5px;
  text-align: center;
  padding: 20px;
}